.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 500;
}

.form {
  margin-top: 25px;
  width: 60%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.field {
  padding-bottom: 15px;
}

.loading {
  text-align: center;
  padding: 30px;
  width: 30%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.error {
  color: red;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  background-color: indigo;
}
.button:hover {
  background-color: rgb(103, 1, 177);
}
.button:active {
  background-color: rgb(103, 1, 177);
  transform: scale(0.9);
  transition: 0.5s;
}

@media (max-width: 700px) {
  .form {
    margin-top: 25px;
    width: 95%;
    justify-content: flex-start;
  }

  .loading {
    width: 80%;
  }

  .field {
    padding-bottom: 15px;
  }

  .main {
    min-height: 100vh;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
