.container {
  padding: 0 1rem;
  overflow-x: scroll;
}

.main {
  min-height: 100vh;
  padding: 1.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 500;
}

.form {
  margin-top: 25px;
  width: 70%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.response {
  margin-top: 25px;
  width: 70%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.field {
  padding-bottom: 15px;
}

.loading {
  text-align: center;
  padding: 30px;
  width: 35%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loadingCircle {
  text-align: center;
  align-items: center;
  padding: 30px;
  width: 35%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.error {
  color: red;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: rgb(1, 105, 1);
}
.button:hover {
  background-color: rgb(1, 143, 1);
}
.button:active {
  background-color: rgb(1, 143, 1);
  transform: scale(0.9);
  transition: 0.5s;
}

.line {
  width: 100%;
  border: 1px solid whitesmoke;
}

@media (max-width: 700px) {
  .form {
    margin-top: 25px;
    width: 95%;
    justify-content: flex-start;
  }

  .loading {
    width: 80%;
  }

  .loadingCircle {
    width: 80%;
  }

  .field {
    padding-bottom: 15px;
  }

  .main {
    min-height: 100vh;
    padding: 1rem 0;
  }

  .response {
    margin-top: 25px;
    width: 100%;
  }
}
